@using Microsoft.AspNet.Identity
@using _1FinalCapstone.Extensions

<!DOCTYPE html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Oswald', sans-serif !important;
        overflow-x: hidden;
        padding-top: 100px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    p {
        color: black;
    }

    .page-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /**********  NAVBAR  *********/



    .logo-image {
        width: 200px; /* Adjust the width as needed */
        height: auto; /* Automatically adjust the height to maintain the aspect ratio */
        margin-top: -50px;
        margin-bottom: -70px;
        z-index: 5;
    }

    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: white !important;
        position: fixed !important; /* Add this property */
        top: 0; /* Position the navbar at the top of the viewport */
        z-index: 9999; /* Ensure it's above other elements */
    }


    nav ul {
        display: inline-block;
        list-style-type: none;
        padding-left: 290px;
    }

        nav ul li {
            display: inline-block;
            margin-right: 100px;
        }

    .profile {
        margin-left: 150px;
    }

    .nav-icon {
        margin-right: 10px;
    }

        .nav-icon ul.navbar-nav li {
            margin-right: 10px; /* Adjust the margin as needed to control spacing */
        }


    /**********  FOOTER  *********/

    .footer {
        background: black;
        color: #8a8a8a;
        font-size: 14px;
        padding: 60px 0 20px;
        margin-top: auto; /* Push the footer to the bottom */
    }


    .footercontainer {
        max-width: 1500px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }

    .footerrow {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px;
        padding-left: 70px;
    }

    .footer-col-2 p {
        color: #8a8a8a;
    }

    .footer h3 {
        color: white;
        margin-bottom: 20px;
    }

    .footer-col-1, .footer-col-2, .footer-col-3 {
        min-width: 250px;
        margin-bottom: 20px;
    }

    .footer-col-1 {
        flex: 1;
        text-align: center;
    }

        .footer-col-1 img {
            width: 180px;
            margin-bottom: 20px;
        }

    .footer-col-2 {
        flex-basis: 30%;
        text-align: center;
    }

    .footer-col-3 {
        flex: 1;
        text-align: center;
        padding-right: 50px;
    }



    .copyright {
        text-align: center;
        color: #8a8a8a;
    }

    ul {
        list-style-type: none;
    }

    .footer-col-3 li {
        text-align: center;
    }

    .cart-container {
        display: flex;
        align-items: center;
        position: relative;
    }

    .cart-link {
        padding-right: 1px;
    }

    /* Add some spacing between the cart icon and the text */
    .cart-icon {
        margin-left: -30px;
        font-size: 18px;
        color: black;
        text-decoration: none;
    }

    .cart-icon {
        color: black;
        display: inline-block;
    }
    .cart-count {
        color: black;
        padding: 2px 6px;
        border-radius: 50%;
        position: relative;
        top: -10px;
        left: -5px;
    }

    .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Adjust the maximum width as needed */
    display: inline-block;
    vertical-align: middle;
    text-decoration: none; /* Remove underlines from links if necessary */
}
</style>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    @Styles.Render("~/Content/css")
</head>
<body>

    <!------- NAVBAR ----->

    <div class="page-container">

        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarNav">

                <a href="@Url.Action("Index", "Home")">  <img src="/MAM Logo.png" class="logo-image" /></a>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Products", "Home")">COMPONENTS</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home")">ABOUT US</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Bikes", "Home")">BIKE BUILDER</a>
                    </li>

                    @if (User.IsInRole("Admin") || User.IsInRole("Owner"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AdminHome", "Home")">DASHBOARD</a>
                        </li>
                    }

                </ul>
            </div>

            <div class="navbar-icons">
                <ul class="navbar-nav2 ml-auto">
                   
                    <li class="nav-icon">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="navbar-nav navbar-right">
                                    <li>
                                        <a class="nav-link" href="@Url.Action("ManageAccount", "AspNetUsers")">
                                            <!-- Link to account settings page -->
                                            <i class="far fa-user"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="fas fa-sign-out-alt"></i> <!-- Font Awesome log out icon -->
                                        </a>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="navbar-nav navbar-left">
                                <li>
                                    <a class="nav-link" href="@Url.Action("Login", "Account")">
                                        <!-- Link to login page -->
                                        <i class="far fa-user"></i> <!-- Font Awesome profile icon -->
                                    </a>
                                </li>
                            </ul>
                        }
                    </li>

                </ul>
            </div>
        </nav>


        <!------- FOOTER ----->

        <div class="page-container">
            @RenderBody()
        </div>

        <div class="footer">
            <div class="footercontainer">
                <div class="footerrow">
                    <div class="footer-col-1">
                        <img src="https://static.giant-bicycles.com/Images/Giant/Logos/Giant-Logo-2022.png" width="125" />
                        <h3>Ride to Live - Live to Ride</h3>
                    </div>

                    <div class="footer-col-2">
                        <h3>ABOUT US</h3>
                        <p>Quezon City, PH <br /> 09453370799</p>
                    </div>

                    <div class="footer-col-3">
                        <h3>SOCIALS</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Instagram</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2023 - M.A.M. Bicycle Shop</p>
            </div>
        </div>
    </div>
</body>
</html>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)