@using _1FinalCapstone.Models
@model LoginViewModel


@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Oswald', sans-serif;
        overflow-x: hidden;
        padding-top: 100px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    p {
        color: black;
    }
  

</style>
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Transparent Login Form HTML CSS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <div class="bg-img">
            <div class="content">
                @Html.AntiForgeryToken()
                <header>LOGIN</header>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form>
                    <div class="form-container">
                        <div class="field space">
                            <span class="fa fa-user"></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Enter Email" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        <div class="field space">
                            <span class="fa fa-lock"></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "pass-key", type = "password", placeholder = "Enter Password" })
                        </div>
                        <span class="show">SHOW</span>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <div class="field center">
                            <input type="submit" value="LOGIN">
                        </div>
                    </div>

                    <div class="row">
                        <div class="offset-md-1 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="signup">
                    Don't have account?
                    <a href="#">
                        <br />
                        @Html.ActionLink("Click here to register", "Register")
                    </a>

                </div>

                <div class="signup">
                    <a href="#">
                        <br>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </a>
                </div>
            </div>
        </div>
    }
    <script>
        const pass_field = document.querySelector('.pass-key');
        const showBtn = document.querySelector('.show');
        showBtn.addEventListener('click', function () {
            if (pass_field.type === "password") {
                pass_field.type = "text";
                showBtn.textContent = "HIDE";
                showBtn.style.color = "#3498db";
            } else {
                pass_field.type = "password";
                showBtn.textContent = "SHOW";
                showBtn.style.color = "#222";
            }
        });
    </script>
</body>
</html>


<style>


    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; /* Center the text horizontally */
    }



    .text-danger {
        margin-top: 10px; /* Adjust margin as needed for spacing */
        text-align: center; /* Center the text horizontally */
        font-size: 18px; /* Adjust font size as needed */
        color: red; /* Change the color to your preferred error message color */
    }

    .bg-img {
        background-image: url('../../bb4.jpg');
        height: 110vh;
        background-size: cover;
        background-position: center;
        padding-top: 50px;
    }

        .bg-img:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            margin-top: 95px;
            height: 120%;
            width: 100%;
            background: rgba(0,0,0,0.3);
        }



    .content {
        margin-top: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        text-align: center;
        padding: 60px 32px;
        width: 370px;
        transform: translate(-50%,-50%);
        background: rgba(255,255,255,0.04);
        box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    }

        .content header {
            color: white;
            font-size: 33px;
            font-weight: 600;
            margin: 0 0 35px 0;
        }

    .field {
        align-items: center;
        position: relative;
        height: 45px;
        width: 90%;
        display: flex;
        background: rgba(255,255,255,0.94);
    }

        .field span {
            width: 40px;
            line-height: 45px;
        }

        .field input {
            height: 100%;
            width: 110%;
            background: transparent;
            border: none;
            outline: none;
            color: #222;
            font-size: 16px;
        }

    .space {
        align-items: center;
        margin-bottom: 20px; /* Add your desired margin value */
    }

    .show {
        position: absolute;
        right: 13px;
        font-size: 13px;
        font-weight: 700;
        color: #222;
        display: none;
        cursor: pointer;
    }

    .pass-key:valid ~ .show {
        display: block;
    }

    .pass {
        text-align: left;
        margin: 10px 0;
    }

        .pass a {
            color: white;
            text-decoration: none;
        }

        .pass:hover a {
            text-decoration: underline;
        }

    .field input[type="submit"] {
        background: #3498db;
        border: 1px solid #2691d9;
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;
    }

        .field input[type="submit"]:hover {
            background: #2691d9;
        }

    .login {
        color: white;
        margin: 20px 0;
    }

    .links {
        display: flex;
        cursor: pointer;
        color: white;
        margin: 0 0 20px 0;
    }

    .facebook, .instagram {
        width: 100%;
        height: 45px;
        line-height: 45px;
        margin-left: 10px;
    }

    .facebook {
        margin-left: 0;
        background: #4267B2;
        border: 1px solid #3e61a8;
    }

    .instagram {
        background: #E1306C;
        border: 1px solid #df2060;
    }

    .facebook:hover {
        background: #3e61a8;
    }

    .instagram:hover {
        background: #df2060;
    }

    .links i {
        font-size: 17px;
    }

    i span {
        margin-left: 8px;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 16px;
    }

    .signup {
        font-size: 15px;
        color: white;
    }

        .signup a {
            color: black;
            text-decoration: none;
        }

            .signup a:hover {
                text-decoration: underline;
            }
</style>