@model _1FinalCapstone.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    h4 {
        text-align: center;
    }

    .container {
        margin-top: 17px;
    }

    .form-group {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #888888;
        padding: 20px;
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
    }

    input[type="submit"] {
        margin-top: 20px;
    }

    .btn-secondary {
        margin-left: 10px;
    }


    input[type="submit"] {
        margin-top: 10px;
    }

    .btn-secondary {
        margin-left: 0px;
        margin-top: 10px;
    }
</style>
<center>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                <div class="form-group">
                    <h2 class="text-center mb-4"><b>Edit Bike Details</b></h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ProductId)

                <div class="mb-3">
                    <b> Item Name</b> 
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="mb-3">
                        <b>Item Description</b>
                        <div class="col-md-10">
                    
                            @Html.TextAreaFor(model => model.ItemDesc, new { @class = "form-control", @rows = 8 })
                            @Html.ValidationMessageFor(model => model.ItemDesc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <b> Item Quantity</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ItemQuantity, new { htmlAttributes = new { @class = "form-control", min = 1 } })
                        @Html.ValidationMessageFor(model => model.ItemQuantity, "", new { @class = "text-danger" })
                    </div>

                    <b>  Item Cost</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ItemCost, new { htmlAttributes = new { @class = "form-control", min = 1 } })
                        @Html.ValidationMessageFor(model => model.ItemCost, "", new { @class = "text-danger" })
                    </div>

                    <b>Item Price</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ItemPrice, new { htmlAttributes = new { @class = "form-control", min = 1 } })
                        @Html.ValidationMessageFor(model => model.ItemPrice, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group2">
                        <b>Component Type</b>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.ComponentType, new List<SelectListItem>
                            {
                                new SelectListItem { Text = "Bike", Value = "Bike" },
                                new SelectListItem { Text = "Fork", Value = "Fork" },
                                new SelectListItem { Text = "Handlebar", Value = "Handlebar" },
                                new SelectListItem { Text = "Chain", Value = "Chain" },
                                new SelectListItem { Text = "Seatpost/Saddle", Value = "Seatpost/Saddle" },
                                new SelectListItem { Text = "Shifter", Value = "Shifter" },
                                new SelectListItem { Text = "Tires", Value = "Tires" },
                                new SelectListItem { Text = "Accessories", Value = "Accessories" },
                                new SelectListItem { Text = "Others", Value = "Others" },
                                // Add your categories or options here
                            }, "Select Category", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ComponentType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @if (Model.ExistingImageDataP != null)
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(Model.ExistingImageDataP)" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
                        }
                        else if (Model.Image != null)
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
                        }
                        else
                        {
                            <span>No image available</span>
                        }
                    </div>

                    <div class="mb-3">
                        <input type="file" class="form-control-file" id="Image" name="prodImage" accept=".png, .jpg, .jpeg" />
                        <br />
                        <span id="ImageValidation" class="text-danger validation-error"></span>
                    </div>
                    @Html.LabelFor(model => model.ArchiveStatus, htmlAttributes: new { @class = "form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ArchiveStatus, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.ArchiveStatus, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })

                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</center>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('form').submit(function (event) {
                var imageInput = $('#Image');
                var imageValidation = $('#ImageValidation');

                // Check if the image input is empty
                if (imageInput.val() === '') {
              
                } else {
                    // Check the file extension
                    var fileName = imageInput.val();
                    var fileExtension = fileName.substr((fileName.lastIndexOf('.') + 1));

                    if (fileExtension.toLowerCase() !== 'png' && fileExtension.toLowerCase() !== 'jpg' && fileExtension.toLowerCase() !== 'jpeg') {
                        event.preventDefault(); // Prevent form submission
                        imageValidation.text('Please select a PNG, JPG, or JPEG image.'); // Display error message
                    } else {
                        imageValidation.text(''); // Clear any previous error message
                    }
                }
            });

            // Block negative, positive signs, and leading zeros on keydown
            $('input[type="number"]').on('keydown', function (e) {
                if (e.key === '-' || e.key === '+' || (e.key === '0' && this.value.length === 0)) {
                    e.preventDefault();
                }
            });
        });
    </script>
}
